@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Cardo:wght@700&family=Courgette&family=DM+Sans:opsz,wght@9..40,200&family=Dancing+Script:wght@500&family=Inclusive+Sans&family=Kaushan+Script&family=Lato&family=Merienda:wght@300;400&family=Merriweather:wght@300&family=Nabla&family=Poppins:wght@200&family=Qwitcher+Grypen:wght@700&family=Raleway:wght@500&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,400;1,400;1,500&family=Tilt+Prism&display=swap');



* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray
}

a {
  text-decoration: none;
  color: inherit
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: red;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: black;
}